*{
    color: #fff;
    font-family: 'Enriqueta', serif;
}
body { 
    /* padding: 2vw; */
    background-color: #0C1578;
}

/* nav  */

.mainnav__container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
   background: #192BF7;
   border-radius: 0.3em;
    
}
.mainnav__container-navegation{
    display: none;
}
.mainnav__container-logo h1{
    padding: 0.2rem;
    font-size: 1rem;
}
.mainnav__container-logo,.mainnav__container-navegation{
    font-size: 1.3em;
    
}

.hamburguesa { 
    padding-right: 2em;
}
/* imagen de inicio */

.main-background__image{
    width: 100%;
   
}
.main-background__image img {
    width: 100%;
    object-fit:cover;
    height: 80vh;
    padding: 0;
}

.main-background__image-welcome-text { 
    position: absolute;
    top: 8em;
   
    font-size: 1em;
    width: 100%;
    text-align: center;
}

.social__media-links { 
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top:500px

}

.social__media-links a  {
     font-size: 1.6rem;
     padding:0.3rem;
     color: white;
}
.social__media-links a i   {
   
    color: white;
}

/* Foto de  perfil  */

.container__perfil { 
    width: 100%;
    height: 20%;

}

.container__perfil-img { 
width: 100%;
}